layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[bg=#45475a,fg=#cdd6f4,bold] {session} #[bg=#b4befe,fg=#45475a]{tabs}"
                format_center ""
                format_right  "{mode}"
                format_space  ""

                border_enabled  "false"

                mode_normal       "#[fg=#b4befe,bold]#[bg=#b4befe,fg=#1e1e2e,bold] NORMAL "
                mode_tmux         "#[fg=#fab387,bold]#[bg=#fab387,fg=#1e1e2e,bold] TMUX "
                mode_locked       "#[fg=#f38ba8,bold]#[bg=#f38ba8,fg=#1e1e2e,bold] LOCKED "
                mode_scroll       "#[fg=#89dceb,bold]#[bg=#89dceb,fg=#1e1e2e,bold] SCROLL "
                mode_rename_tab   "#[fg=#fab387,bold]#[bg=#fab387,fg=#1e1e2e,bold] RENAME "

                tab_normal              "#[bg=#b4befe,fg=#1e1e2e] {index} {name} #[bg=default,fg=#b4befe]"
                tab_normal_fullscreen   "#[bg=#b4befe,fg=#1e1e2e] {index} {name} [] #[bg=default,fg=#b4befe]"
                tab_active              "#[bg=#b4befe,fg=#1e1e2e,bold] {index} {name} #[bg=default,fg=#b4befe]"
                tab_active_fullscreen   "#[bg=#b4befe,fg=#1e1e2e,bold] {index} {name} [] #[bg=default,fg=#b4befe]"
                tab_separator           ""
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{command_host}{command_user}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"

                command_host_command   "hostname -s"
                command_host_format    "#[bg=#b4befe,fg=#1e1e2e,bold] {stdout} #[bg=#45475a,fg=#b4befe]"
                command_host_interval  "0"

                command_user_command   "whoami"
                command_user_format    "#[bg=#45475a,fg=#cdd6f4,bold] {stdout} #[bg=default,fg=#45475a]"
                command_user_interval  "0"

                tab_normal              "#[bg=#b4befe,fg=#1e1e2e] {name} "
                tab_active              "#[bg=#b4befe,fg=#1e1e2e,bold] {name} "
                tab_separator           ""

                datetime          "#[fg=#45475a]#[bg=#45475a,fg=#cdd6f4,bold] Spain #[fg=#b4befe,bg=#45475a]#[bg=#b4befe,fg=#1e1e2e,bold] {format} "
                datetime_format   "%H:%M"
                datetime_timezone "Europe/Madrid"
            }
        }
    }
}
