keybinds clear-defaults=true {

    shared_except "locked" {
        bind "Ctrl a" { SwitchToMode "tmux"; }
        bind "Ctrl Shift Left" { MoveTab "left"; }
        bind "Ctrl Shift Right" { MoveTab "right"; }
    }

    tmux {
        bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "Left" { MovePane "left"; SwitchToMode "normal"; }
        bind "Right" { MovePane "right"; SwitchToMode "normal"; }
        bind "Up" { MovePane "up"; SwitchToMode "normal"; }
        bind "Down" { MovePane "down"; SwitchToMode "normal"; }
        bind "H" { Resize "Increase left"; }
        bind "J" { Resize "Increase down"; }
        bind "K" { Resize "Increase up"; }
        bind "L" { Resize "Increase right"; }
        bind "\"" { NewPane "down"; SwitchToMode "normal"; }
        bind "%" { NewPane "right"; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "," { SwitchToMode "renametab"; TabNameInput 0; }
        bind "d" { Detach; }
        bind "[" { SwitchToMode "scroll"; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "space" { NextSwapLayout; }
        bind "Ctrl a" { Write 1; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "normal"; }
    }

    scroll {
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "J" { PageScrollDown; }
        bind "K" { PageScrollUp; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "v" { EditScrollback; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "normal"; }
    }

    search {
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "normal"; }
    }

    entersearch {
        bind "Enter" { SwitchToMode "search"; }
        bind "Esc" { SwitchToMode "scroll"; }
    }

    renametab {
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "tmux"; }
    }
}

themes {
    catppuccin-mocha-custom {
        fg "#cdd6f4"
        bg "#1e1e2e"
        black "#181825"
        red "#f38ba8"
        green "#a6e3a1"
        yellow "#f9e2af"
        blue "#89b4fa"
        magenta "#f5c2e7"
        cyan "#94e2d5"
        white "#bac2de"
        orange "#fab387"
        frame_selected {
            base 166 227 161
            background 30 30 46
            emphasis_0 166 227 161
            emphasis_1 166 227 161
            emphasis_2 166 227 161
            emphasis_3 166 227 161
        }
        frame_unselected {
            base 88 91 112
            background 30 30 46
            emphasis_0 88 91 112
            emphasis_1 88 91 112
            emphasis_2 88 91 112
            emphasis_3 88 91 112
        }
        frame_highlight {
            base 250 179 135
            background 30 30 46
            emphasis_0 250 179 135
            emphasis_1 250 179 135
            emphasis_2 250 179 135
            emphasis_3 250 179 135
        }
    }
}

theme "catppuccin-mocha-custom"
default_layout "default"
pane_frames true
copy_command "pbcopy"
copy_on_select true
scrollback_editor "nvim"
mouse_mode true
pane_frames_highlight_on_hover false
show_startup_tips false
advanced_mouse_actions true
