theme = "catppuccin_mocha"

[editor]
line-number = "relative"
cursorline = true
color-modes = true
true-color = true
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true

[keys.normal]
C-s = ":w"
C-r = ":reload"
G = "goto_last_line"
C-p = "file_picker"
C-S-p = "command_palette"
C-S-z = "redo"